{
  "openapi": "3.0.3",
  "info": {
    "title": "CanLıFal.com API",
    "description": "CanLıFal.com fal ve sosyal platform API dökümanı. Tüm endpointler /api prefix ile başlar.",
    "version": "1.0.0",
    "contact": {
      "url": "https://canlifal.com"
    }
  },
  "servers": [
    {
      "url": "https://canlifal.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "next-auth.session-token",
        "description": "NextAuth session cookie"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Mobile JWT token"
      }
    }
  },
  "paths": {
    "/api/activities": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Activities (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/activity-feed": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Activity-Feed (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Activity-Feed (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/ad-networks": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ad-Networks (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ad-Networks (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ad-Networks (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/agencies": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Agencies (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Agencies (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Agencies (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/announcement-sections": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Announcement-Sections (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Announcement-Sections (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/awards": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Awards (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Awards (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Awards (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/backup": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Backup (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/badges": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Badges (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Badges (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Badges (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Badges (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/bana-ozel": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bana-Ozel (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bana-Ozel (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bana-Ozel (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/{postId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog :Id (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog :Id (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog :Id (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/analytics": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Analytics (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/bulk-category": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Bulk-Category (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/bulk-delete": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Bulk-Delete (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/bulk-generate": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Bulk-Generate (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/bulk-import": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Bulk-Import (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/bulk-publish": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Bulk-Publish (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/categories": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Categories (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Categories (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Categories (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/comments": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Comments (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Comments (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/generate": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Generate (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/import": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Import (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/blog/schedule-publish": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Blog Schedule-Publish (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/bots": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/bots/simulate-fortune": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate-Fortune (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate-Fortune (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/bots/simulate-master": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate-Master (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate-Master (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/bots/simulate-social": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate-Social (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate-Social (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/bots/simulate": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Bots Simulate (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/broadcast-images": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Broadcast-Images (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Broadcast-Images (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Broadcast-Images (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Broadcast-Images (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/button-order": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Button-Order (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Button-Order (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/cache": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Cache (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Cache (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/celebrities": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrities (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrities (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrities (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrities (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/celebrity-posts/generate": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrity-Posts Generate (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/celebrity-posts": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrity-Posts (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrity-Posts (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrity-Posts (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Celebrity-Posts (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/cfc-payment-requests": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Cfc-Payment-Requests (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Cfc-Payment-Requests (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/cfc-settings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Cfc-Settings (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Cfc-Settings (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/chat-rooms": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Chat-Rooms (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Chat-Rooms (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Chat-Rooms (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Chat-Rooms (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/contests": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Contests (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Contests (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Contests (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Contests (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/credit-packages/{packageId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Credit-Packages :Id (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Credit-Packages :Id (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/credit-packages": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Credit-Packages (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Credit-Packages (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/credits": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Credits (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/currency-config": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Currency-Config (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Currency-Config (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Currency-Config (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/dreams/bulk-category": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams Bulk-Category (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/dreams/bulk-delete": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams Bulk-Delete (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/dreams/bulk-import": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams Bulk-Import (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/dreams/bulk-publish": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams Bulk-Publish (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/dreams/generate": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams Generate (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/dreams": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Dreams (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/fan-club-manager": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fan-Club-Manager (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fan-Club-Manager (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/fan-clubs": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fan-Clubs (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fan-Clubs (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/finance": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Finance (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Finance (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/fortune-request-types": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fortune-Request-Types (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fortune-Request-Types (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fortune-Request-Types (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fortune-Request-Types (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/fortunes": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Fortunes (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/games/rooms": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games Rooms (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games Rooms (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/games": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/games/settings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games Settings (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Games Settings (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/homepage-buttons": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Buttons (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Buttons (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Buttons (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Buttons (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/homepage-fortune-cards": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Fortune-Cards (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Fortune-Cards (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Fortune-Cards (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Fortune-Cards (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Homepage-Fortune-Cards (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}/approve": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Approve (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}/ban": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Ban (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}/bonus": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Bonus (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}/freeze": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Freeze (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}/permissions": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Permissions (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers/{tellerId}/warning": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Warning (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers :Id Warning (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/live-tellers": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Live-Tellers (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/membership-badges": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Membership-Badges (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Membership-Badges (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Membership-Badges (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Membership-Badges (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/memberships/purchases": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships Purchases (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships Purchases (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships Purchases (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/memberships": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Memberships (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/moderation": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Moderation (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Moderation (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/notifications": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Notifications (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Notifications (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Notifications (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/online-fal/buttons": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Buttons (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Buttons (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Buttons (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Buttons (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/online-fal/sections": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Sections (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Sections (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Online-Fal Sections (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/payment-methods": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Payment-Methods (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Payment-Methods (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/payments": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Payments (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Payments (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Payments (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/pending-counts": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Pending-Counts (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/popups": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Popups (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Popups (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Popups (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Popups (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/profile-frames/assign": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Profile-Frames Assign (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/profile-frames": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Profile-Frames (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Profile-Frames (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Profile-Frames (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/rooms": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Rooms (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Rooms (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/seo-settings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Seo-Settings (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Seo-Settings (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/settings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Settings (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Settings (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/site-pages": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Site-Pages (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Site-Pages (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Site-Pages (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Site-Pages (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/statistics": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Statistics (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/teller-levels": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Teller-Levels (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/teller-performance": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Teller-Performance (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/teller-verification": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Teller-Verification (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Teller-Verification (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/ticker-messages/{messageId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ticker-Messages :Id (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ticker-Messages :Id (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/ticker-messages": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ticker-Messages (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Ticker-Messages (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/tiktok-categories": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Categories (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Categories (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Categories (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Categories (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/tiktok-videos": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Videos (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Videos (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Videos (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Videos (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Tiktok-Videos (PUT)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/trend-videos": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Trend-Videos (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Trend-Videos (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/trend-videos/youtube": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Trend-Videos Youtube (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/trends": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Trends (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Trends (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Trends (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/users/{userId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Users :Id (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Users :Id (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Users :Id (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Users (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/users/search": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Users Search (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/users/withdrawal-limit": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Users Withdrawal-Limit (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/video-streams": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Video-Streams (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Video-Streams (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Video-Streams (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/visitor-stats": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Visitor-Stats (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/admin/withdrawals": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Withdrawals (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Withdrawals (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ads/active": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Ads Active (GET)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ads/reward": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Ads Reward (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/apply": {
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Apply (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/earnings": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Earnings (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/invite": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Invite (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Invite (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/join": {
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Join (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/leaderboard": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Leaderboard (GET)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/leave": {
      "delete": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Leave (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Leave (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/members": {
      "delete": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Members (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Members (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Members (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/my": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency My (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency My (PATCH)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/tasks": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Tasks (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agency/withdrawals": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Withdrawals (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Agency Withdrawals (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/agora/token": {
      "post": {
        "tags": [
          "WebRTC"
        ],
        "summary": "Agora Token (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/announcements/event": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Announcements Event (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/announcements": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Announcements (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Announcements (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/anonymous": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Anonymous (GET)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Anonymous (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/anonymous/watch-ad": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Anonymous Watch-Ad (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/astrology-panel": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Astrology-Panel (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Change-Password (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Forgot-Password (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/mobile-google": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Mobile-Google (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/mobile-login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Mobile-Login (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/mobile-refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Mobile-Refresh (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/mobile-register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Mobile-Register (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/mobile-tiktok": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Mobile-Tiktok (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/reclaim-device": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Reclaim-Device (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Reset-Password (POST)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/auth/verify-device": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Auth Verify-Device (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/bana-ozel/open": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Bana-Ozel Open (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/bana-ozel": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Bana-Ozel (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/blog/categories": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Categories (GET)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/blog/comments": {
      "delete": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Comments (DELETE)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Comments (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Comments (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/blog/favorite": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Favorite (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/blog/interactions": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Interactions (GET)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/blog/like": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Like (POST)",
        "security": [
          {
            "session": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/blog/related": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Blog Related (GET)",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
[...]
