{
  "openapi": "3.0.3",
  "info": {
    "title": "CanlıFal Backend API",
    "description": "CanlıFal platformunun eksiksiz backend API referansı. Web ve Flutter mobil uygulaması AYNI backend'i kullanır. Tüm endpoint'ler otomatik keşifle çıkarılmıştır.",
    "version": "1.0.0",
    "contact": {
      "name": "CanlıFal",
      "url": "https://canlifal.com"
    }
  },
  "servers": [
    {
      "url": "https://canlifal.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Mobil: `Authorization: Bearer <accessToken>`"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "next-auth.session-token",
        "description": "Web: NextAuth oturum çerezi"
      }
    }
  },
  "tags": [
    {
      "name": "activities"
    },
    {
      "name": "admin/activity-feed"
    },
    {
      "name": "admin/ad-networks"
    },
    {
      "name": "admin/agencies"
    },
    {
      "name": "admin/announcement-sections"
    },
    {
      "name": "admin/awards"
    },
    {
      "name": "admin/backup"
    },
    {
      "name": "admin/badges"
    },
    {
      "name": "admin/bana-ozel"
    },
    {
      "name": "admin/blog"
    },
    {
      "name": "admin/bots"
    },
    {
      "name": "admin/broadcast-images"
    },
    {
      "name": "admin/button-order"
    },
    {
      "name": "admin/cache"
    },
    {
      "name": "admin/cfc-payment-requests"
    },
    {
      "name": "admin/cfc-settings"
    },
    {
      "name": "admin/chat-rooms"
    },
    {
      "name": "admin/contests"
    },
    {
      "name": "admin/credit-packages"
    },
    {
      "name": "admin/credits"
    },
    {
      "name": "admin/currency-config"
    },
    {
      "name": "admin/dreams"
    },
    {
      "name": "admin/finance"
    },
    {
      "name": "admin/fortune-request-types"
    },
    {
      "name": "admin/fortunes"
    },
    {
      "name": "admin/games"
    },
    {
      "name": "admin/gift-collections"
    },
    {
      "name": "admin/gift-upload"
    },
    {
      "name": "admin/gifts"
    },
    {
      "name": "admin/homepage-buttons"
    },
    {
      "name": "admin/homepage-fortune-cards"
    },
    {
      "name": "admin/live-tellers"
    },
    {
      "name": "admin/lucky-gifts"
    },
    {
      "name": "admin/membership-badges"
    },
    {
      "name": "admin/memberships"
    },
    {
      "name": "admin/moderation"
    },
    {
      "name": "admin/notifications"
    },
    {
      "name": "admin/online-fal"
    },
    {
      "name": "admin/payment-methods"
    },
    {
      "name": "admin/payments"
    },
    {
      "name": "admin/pending-counts"
    },
    {
      "name": "admin/popups"
    },
    {
      "name": "admin/profile-frames"
    },
    {
      "name": "admin/room-themes"
    },
    {
      "name": "admin/rooms"
    },
    {
      "name": "admin/seo-settings"
    },
    {
      "name": "admin/settings"
    },
    {
      "name": "admin/site-pages"
    },
    {
      "name": "admin/statistics"
    },
    {
      "name": "admin/teller-levels"
    },
    {
      "name": "admin/teller-performance"
    },
    {
      "name": "admin/teller-verification"
    },
    {
      "name": "admin/ticker-messages"
    },
    {
      "name": "admin/tiktok-categories"
    },
    {
      "name": "admin/tiktok-videos"
    },
    {
      "name": "admin/trend-videos"
    },
    {
      "name": "admin/trends"
    },
    {
      "name": "admin/users"
    },
    {
      "name": "admin/video-streams"
    },
    {
      "name": "admin/visitor-stats"
    },
    {
      "name": "admin/withdrawals"
    },
    {
      "name": "ads"
    },
    {
      "name": "agency"
    },
    {
      "name": "announcements"
    },
    {
      "name": "anonymous"
    },
    {
      "name": "astrology-panel"
    },
    {
      "name": "auth"
    },
    {
      "name": "bana-ozel"
    },
    {
      "name": "blog"
    },
    {
      "name": "broadcast-images"
    },
    {
      "name": "cache"
    },
    {
      "name": "chat"
    },
    {
      "name": "compatibility"
    },
    {
      "name": "contact"
    },
    {
      "name": "credit-packages"
    },
    {
      "name": "daily-login"
    },
    {
      "name": "daily-missions"
    },
    {
      "name": "devices"
    },
    {
      "name": "dream-contest"
    },
    {
      "name": "dream-diary"
    },
    {
      "name": "dream-stats"
    },
    {
      "name": "dream-symbols"
    },
    {
      "name": "dreams"
    },
    {
      "name": "favorite-tellers"
    },
    {
      "name": "football"
    },
    {
      "name": "fortune-access"
    },
    {
      "name": "fortune-request-types"
    },
    {
      "name": "fortune-tellers"
    },
    {
      "name": "fortunes"
    },
    {
      "name": "games"
    },
    {
      "name": "gift-engine"
    },
    {
      "name": "gifts"
    },
    {
      "name": "hashtags"
    },
    {
      "name": "homepage-buttons"
    },
    {
      "name": "homepage-fortune-cards"
    },
    {
      "name": "homepage-ticker"
    },
    {
      "name": "horoscope"
    },
    {
      "name": "jeton"
    },
    {
      "name": "leaderboards"
    },
    {
      "name": "legal"
    },
    {
      "name": "live"
    },
    {
      "name": "me"
    },
    {
      "name": "membership-badges"
    },
    {
      "name": "memberships"
    },
    {
      "name": "messages"
    },
    {
      "name": "mobile"
    },
    {
      "name": "monitoring"
    },
    {
      "name": "music"
    },
    {
      "name": "notifications"
    },
    {
      "name": "online-fal"
    },
    {
      "name": "payments"
    },
    {
      "name": "platform"
    },
    {
      "name": "popups"
    },
    {
      "name": "presence"
    },
    {
      "name": "profile-frames"
    },
    {
      "name": "public"
    },
    {
      "name": "public-stats"
    },
    {
      "name": "referral"
    },
    {
      "name": "room"
    },
    {
      "name": "room-themes"
    },
    {
      "name": "search"
    },
    {
      "name": "seo-settings"
    },
    {
      "name": "settings"
    },
    {
      "name": "share-card"
    },
    {
      "name": "short-videos"
    },
    {
      "name": "signup"
    },
    {
      "name": "site-pages"
    },
    {
      "name": "social"
    },
    {
      "name": "stories"
    },
    {
      "name": "teller"
    },
    {
      "name": "teller-chat"
    },
    {
      "name": "tencent"
    },
    {
      "name": "tiktok-videos"
    },
    {
      "name": "tmdb"
    },
    {
      "name": "tournaments"
    },
    {
      "name": "translations"
    },
    {
      "name": "trend-videos"
    },
    {
      "name": "trends"
    },
    {
      "name": "trtc"
    },
    {
      "name": "upload"
    },
    {
      "name": "user"
    },
    {
      "name": "users"
    },
    {
      "name": "video-streams"
    },
    {
      "name": "wallet"
    },
    {
      "name": "warmup"
    },
    {
      "name": "weekly-dream-report"
    },
    {
      "name": "withdrawals"
    },
    {
      "name": "youtube"
    }
  ],
  "paths": {
    "/api/activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET /api/activities",
        "description": "Dual-auth: mobil JWT Bearer token **veya** web oturumu kabul edilir. Dinamik (force-dynamic).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/activity-feed": {
      "get": {
        "tags": [
          "admin/activity-feed"
        ],
        "summary": "GET /api/admin/activity-feed",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/activity-feed"
        ],
        "summary": "POST /api/admin/activity-feed",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isEnabled": {
                    "type": "string"
                  },
                  "maxItems": {
                    "type": "string"
                  },
                  "specificUserIds": {
                    "type": "string"
                  },
                  "visibleToAdmin": {
                    "type": "string"
                  },
                  "visibleToBasic": {
                    "type": "string"
                  },
                  "visibleToDiamond": {
                    "type": "string"
                  },
                  "visibleToGold": {
                    "type": "string"
                  },
                  "visibleToGuests": {
                    "type": "string"
                  },
                  "visibleToModerator": {
                    "type": "string"
                  },
                  "visibleToPremium": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/ad-networks": {
      "delete": {
        "tags": [
          "admin/ad-networks"
        ],
        "summary": "DELETE /api/admin/ad-networks",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "admin/ad-networks"
        ],
        "summary": "GET /api/admin/ad-networks",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/ad-networks"
        ],
        "summary": "POST /api/admin/ad-networks",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adCode": {
                    "type": "string"
                  },
                  "adUnitId": {
                    "type": "string"
                  },
                  "appId": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  },
                  "sortOrder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/agencies": {
      "delete": {
        "tags": [
          "admin/agencies"
        ],
        "summary": "DELETE /api/admin/agencies",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agencyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "admin/agencies"
        ],
        "summary": "GET /api/admin/agencies",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "admin/agencies"
        ],
        "summary": "PATCH /api/admin/agencies",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string"
                  },
                  "agencyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/announcement-sections": {
      "get": {
        "tags": [
          "admin/announcement-sections"
        ],
        "summary": "GET /api/admin/announcement-sections",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/announcement-sections"
        ],
        "summary": "POST /api/admin/announcement-sections",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categoryConfig": {
                    "type": "string"
                  },
                  "categoryKey": {
                    "type": "string"
                  },
                  "categorySettings": {
                    "type": "string"
                  },
                  "giftAnnouncementSettings": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/awards": {
      "delete": {
        "tags": [
          "admin/awards"
        ],
        "summary": "DELETE /api/admin/awards",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "admin/awards"
        ],
        "summary": "GET /api/admin/awards",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/awards"
        ],
        "summary": "POST /api/admin/awards",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "awardType": {
                    "type": "string"
                  },
                  "endDate": {
                    "type": "string"
                  },
                  "startDate": {
                    "type": "string"
                  },
                  "tellerId": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/backup": {
      "get": {
        "tags": [
          "admin/backup"
        ],
        "summary": "GET /api/admin/backup",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/badges": {
      "delete": {
        "tags": [
          "admin/badges"
        ],
        "summary": "DELETE /api/admin/badges",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "admin/badges"
        ],
        "summary": "GET /api/admin/badges",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/badges"
        ],
        "summary": "POST /api/admin/badges",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bgColor": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "tier": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin/badges"
        ],
        "summary": "PUT /api/admin/badges",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bgColor": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "sortOrder": {
                    "type": "string"
                  },
                  "tier": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/bana-ozel": {
      "get": {
        "tags": [
          "admin/bana-ozel"
        ],
        "summary": "GET /api/admin/bana-ozel",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "admin/bana-ozel"
        ],
        "summary": "PATCH /api/admin/bana-ozel",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admin/bana-ozel"
        ],
        "summary": "POST /api/admin/bana-ozel",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "jetonCost": {
                    "type": "string"
                  },
                  "nameEn": {
                    "type": "string"
                  },
                  "nameTr": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "sortOrder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog": {
      "get": {
        "tags": [
          "admin/blog"
        ],
        "summary": "GET /api/admin/blog",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorName": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "contentEn": {
                    "type": "string"
                  },
                  "contentTr": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "descEn": {
                    "type": "string"
                  },
                  "descTr": {
                    "type": "string"
                  },
                  "isAiGenerated": {
                    "type": "string"
                  },
                  "isEditorPick": {
                    "type": "string"
                  },
                  "isFeatured": {
                    "type": "string"
                  },
                  "isPremium": {
                    "type": "string"
                  },
                  "isPublished": {
                    "type": "string"
                  },
                  "isTrending": {
                    "type": "string"
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "metaDescription": {
                    "type": "string"
                  },
                  "publishedAt": {
                    "type": "string"
                  },
                  "readTime": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleTr": {
                    "type": "string"
                  },
                  "zodiacSign": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/analytics": {
      "get": {
        "tags": [
          "admin/blog"
        ],
        "summary": "GET /api/admin/blog/analytics",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/blog/bulk-category": {
      "patch": {
        "tags": [
          "admin/blog"
        ],
        "summary": "PATCH /api/admin/blog/bulk-category",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "postIds": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/bulk-delete": {
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/bulk-delete",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postIds": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/bulk-generate": {
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/bulk-generate",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "autoPublish": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "topics": {
                    "type": "string"
                  },
                  "zodiacSign": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/bulk-import": {
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/bulk-import",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/blog/bulk-publish": {
      "patch": {
        "tags": [
          "admin/blog"
        ],
        "summary": "PATCH /api/admin/blog/bulk-publish",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isPublished": {
                    "type": "string"
                  },
                  "postIds": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/categories": {
      "delete": {
        "tags": [
          "admin/blog"
        ],
        "summary": "DELETE /api/admin/blog/categories",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "admin/blog"
        ],
        "summary": "GET /api/admin/blog/categories",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/categories",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nameEn": {
                    "type": "string"
                  },
                  "nameTr": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/comments": {
      "get": {
        "tags": [
          "admin/blog"
        ],
        "summary": "GET /api/admin/blog/comments",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "admin/blog"
        ],
        "summary": "PATCH /api/admin/blog/comments",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string"
                  },
                  "commentId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/generate": {
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/generate",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/blog/import": {
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/import",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/blog/schedule-publish": {
      "post": {
        "tags": [
          "admin/blog"
        ],
        "summary": "POST /api/admin/blog/schedule-publish",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/blog/{postId}": {
      "delete": {
        "tags": [
          "admin/blog"
        ],
        "summary": "DELETE /api/admin/blog/{postId}",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Yol parametresi: postId"
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "admin/blog"
        ],
        "summary": "PATCH /api/admin/blog/{postId}",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Yol parametresi: postId"
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorName": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "contentEn": {
                    "type": "string"
                  },
                  "contentTr": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "descEn": {
                    "type": "string"
                  },
                  "descTr": {
                    "type": "string"
                  },
                  "isAiGenerated": {
                    "type": "string"
                  },
                  "isEditorPick": {
                    "type": "string"
                  },
                  "isFeatured": {
                    "type": "string"
                  },
                  "isPremium": {
                    "type": "string"
                  },
                  "isPublished": {
                    "type": "string"
                  },
                  "isTrending": {
                    "type": "string"
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "metaDescription": {
                    "type": "string"
                  },
                  "publishedAt": {
                    "type": "string"
                  },
                  "readTime": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleTr": {
                    "type": "string"
                  },
                  "zodiacSign": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin/blog"
        ],
        "summary": "PUT /api/admin/blog/{postId}",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Yol parametresi: postId"
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/bots": {
      "get": {
        "tags": [
          "admin/bots"
        ],
        "summary": "GET /api/admin/bots",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "admin/bots"
        ],
        "summary": "PATCH /api/admin/bots",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string"
                  },
                  "activityLevel": {
                    "type": "string"
                  },
                  "botIds": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "string"
                  },
                  "personality": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/bots/simulate": {
      "get": {
        "tags": [
          "admin/bots"
        ],
        "summary": "GET /api/admin/bots/simulate",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/bots"
        ],
        "summary": "POST /api/admin/bots/simulate",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string"
                  },
                  "roomId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/bots/simulate-fortune": {
      "get": {
        "tags": [
          "admin/bots"
        ],
        "summary": "GET /api/admin/bots/simulate-fortune",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/bots"
        ],
        "summary": "POST /api/admin/bots/simulate-fortune",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/bots/simulate-master": {
      "get": {
        "tags": [
          "admin/bots"
        ],
        "summary": "GET /api/admin/bots/simulate-master",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/bots"
        ],
        "summary": "POST /api/admin/bots/simulate-master",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/bots/simulate-social": {
      "get": {
        "tags": [
          "admin/bots"
        ],
        "summary": "GET /api/admin/bots/simulate-social",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/bots"
        ],
        "summary": "POST /api/admin/bots/simulate-social",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/admin/broadcast-images": {
      "delete": {
        "tags": [
          "admin/broadcast-images"
        ],
        "summary": "DELETE /api/admin/broadcast-images",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa.\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "admin/broadcast-images"
        ],
        "summary": "GET /api/admin/broadcast-images",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa.\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "admin/broadcast-images"
        ],
        "summary": "PATCH /api/admin/broadcast-images",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa.\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "sortOrder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admin/broadcast-images"
        ],
        "summary": "POST /api/admin/broadcast-images",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa.\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "sortOrder": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/button-order": {
      "get": {
        "tags": [
          "admin/button-order"
        ],
        "summary": "GET /api/admin/button-order",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin/button-order"
        ],
        "summary": "POST /api/admin/button-order",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek / doğrulama hatası"
          },
          "401": {
            "description": "Kimlik doğrulama gerekli / geçersiz token"
          },
          "403": {
            "description": "Yetki yok"
          },
          "404": {
            "description": "Bulunamadı"
          },
          "429": {
            "description": "Rate limit aşıldı"
          },
          "500": {
            "description": "Sunucu hatası"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/cache": {
      "delete": {
        "tags": [
          "admin/cache"
        ],
        "summary": "DELETE /api/admin/cache",
        "description": "Web oturumu (NextAuth). Mobilde JWT Bearer ile de çalışır eğer route authenticateRequest kullanıyorsa. Dinamik (force-dynamic).\n\n**🔒 Yalnızca yönetici (admin/yonetici) erişimi.**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
[...]
